# Pandas
#### Tratando dados ausentes.

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from feature_engine.imputation import  MeanMedianImputer, CategoricalImputer, ArbitraryNumberImputer, EndTailImputer

In [14]:
!conda install feature_engine

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available from current channels:

  - feature_engine

Current channels:

  - https://repo.anaconda.com/pkgs/main/win-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/r/win-64
  - https://repo.anaconda.com/pkgs/r/noarch
  - https://repo.anaconda.com/pkgs/msys2/win-64
  - https://repo.anaconda.com/pkgs/msys2/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.

In [3]:
df001 = pd.read_csv('datasets/heart.csv')

# import

In [4]:
df001

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,916,54,Female,VA Long Beach,asymptomatic,127.0,333.0,True,st-t abnormality,154.0,False,0.0,NaN,NaN,NaN,1
916,917,62,Male,VA Long Beach,typical angina,NaN,139.0,False,st-t abnormality,NaN,NaN,NaN,NaN,NaN,NaN,0
917,918,55,Male,VA Long Beach,asymptomatic,122.0,223.0,True,st-t abnormality,100.0,False,0.0,NaN,NaN,fixed defect,2
918,919,58,Male,VA Long Beach,asymptomatic,NaN,385.0,True,lv hypertrophy,NaN,NaN,NaN,NaN,NaN,NaN,0
919,920,62,Male,VA Long Beach,atypical angina,120.0,254.0,False,lv hypertrophy,93.0,True,0.0,NaN,NaN,NaN,1

### Splitando as as bases de teste e treino

In [7]:
dfx_treino, dfx_teste, dfy_treino, dfx_test = train_test_split(df001.drop(['num', 'id'], axis=1), df001['num'], test_size=0.3, random_state=0)

In [9]:
dfx_treino.head()

,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal
76,60,Male,Cleveland,asymptomatic,125.0,258.0,False,lv hypertrophy,141.0,True,2.8,flat,1.0,reversable defect
48,65,Female,Cleveland,non-anginal,140.0,417.0,True,lv hypertrophy,157.0,False,0.8,upsloping,1.0,normal
304,29,Male,Hungary,atypical angina,120.0,243.0,False,normal,160.0,False,0.0,NaN,NaN,NaN
263,44,Male,Cleveland,non-anginal,120.0,226.0,False,normal,169.0,False,0.0,upsloping,0.0,normal
744,52,Male,VA Long Beach,non-anginal,128.0,0.0,False,st-t abnormality,180.0,False,3.0,upsloping,NaN,NaN

In [10]:
dfx_treino.isnull().mean()

age         0.000000
sex         0.000000
dataset     0.000000
cp          0.000000
trestbps    0.060559
chol        0.037267
fbs         0.099379
restecg     0.003106
thalch      0.055901
exang       0.055901
oldpeak     0.066770
slope       0.326087
ca          0.656832
thal        0.518634
dtype: float64

In [13]:
dfx_treino.dtypes

age           int64
sex          object
dataset      object
cp           object
trestbps    float64
chol        float64
fbs          object
restecg      object
thalch      float64
exang        object
oldpeak     float64
slope        object
ca          float64
thal         object
dtype: object

### SeparaÃ§Ã£o do DF com as colunas numÃ©ricas

In [14]:
dfx_treino_1, dfx_teste_1, dfy_treino_1, dfx_test_1 = train_test_split(df001[['age', 'trestbps', 'chol', 'thalch', 'oldpeak', 'ca' ]], df001['num'], test_size=0.3, random_state=0)
# Pegando apenas colunas numÃ©ricas para poder fazer mÃ©dia dos valores.

Modo Pandas

In [16]:
# Eliminado valores ausentes com o Pandas
for col_name in 'age trestbps chol thalch oldpeak ca'.split():
    media_calc = dfx_treino_1[col_name].mean()
    dfx_treino_1[col_name] = dfx_treino_1[col_name].fillna(media_calc)
    dfx_teste_1[col_name] = dfx_teste_1[col_name].fillna(media_calc)

print('Replace pronto.')

Replace pronto.

In [17]:
dfx_treino_1.isnull().mean()

# Verificando se os valores nulos foram eliminados.

age         0.0
trestbps    0.0
chol        0.0
thalch      0.0
oldpeak     0.0
ca          0.0
dtype: float64

Modo SKLearn SimpleImputer

In [62]:
cols_name = ['age', 'trestbps', 'chol', 'thalch', 'oldpeak', 'ca' ]

dfx_treino_2, dfx_teste_2, dfy_treino_2, dfx_test_2 = train_test_split(df001[cols_name], df001['num'], test_size=0.3, random_state=0)
# Pegando apenas colunas numÃ©ricas para poder fazer mÃ©dia dos valores.

In [63]:
# Fazendo a imputaÃ§Ã£o com o SKL

imputer = SimpleImputer(strategy='mean')

In [64]:
imputer.fit(dfx_treino_2)

SimpleImputer()

In [65]:
imputer.statistics_

array([ 53.33074534, 132.4661157 , 197.45645161, 137.84210526,
         0.87670549,   0.66968326])

In [66]:
dfx_treino_2.describe()

              age    trestbps        chol      thalch     oldpeak          ca
count  644.000000  605.000000  620.000000  608.000000  601.000000  221.000000
mean    53.330745  132.466116  197.456452  137.842105    0.876705    0.669683
std      9.383861   18.357224  111.265084   26.235181    1.108718    0.946013
min     28.000000   92.000000    0.000000   63.000000   -2.600000    0.000000
25%     47.000000  120.000000  172.750000  120.000000    0.000000    0.000000
50%     54.000000  130.000000  223.000000  140.000000    0.500000    0.000000
75%     60.000000  140.000000  268.250000  158.000000    1.500000    1.000000
max     77.000000  200.000000  564.000000  202.000000    6.200000    3.000000

In [67]:
dfx_treino_2.isnull().mean()

age         0.000000
trestbps    0.060559
chol        0.037267
thalch      0.055901
oldpeak     0.066770
ca          0.656832
dtype: float64

In [68]:
dfx_treino_2 = imputer.transform(dfx_treino_2)

Ele retorna um np.array

In [69]:
dfx_treino_2

array([[ 60.        , 125.        , 258.        , 141.        ,
          2.8       ,   1.        ],
       [ 65.        , 140.        , 417.        , 157.        ,
          0.8       ,   1.        ],
       [ 29.        , 120.        , 243.        , 160.        ,
          0.        ,   0.66968326],
       ...,
       [ 51.        , 130.        ,   0.        , 170.        ,
         -0.7       ,   0.66968326],
       [ 47.        , 135.        , 248.        , 170.        ,
          0.        ,   0.66968326],
       [ 61.        , 130.        ,   0.        , 115.        ,
          0.        ,   0.66968326]])

In [70]:
dfx_treino_2 = pd.DataFrame(dfx_treino_2, columns=cols_name)

In [71]:
dfx_treino_2

      age    trestbps   chol      thalch   oldpeak        ca
0    60.0  125.000000  258.0  141.000000  2.800000  1.000000
1    65.0  140.000000  417.0  157.000000  0.800000  1.000000
2    29.0  120.000000  243.0  160.000000  0.000000  0.669683
3    44.0  120.000000  226.0  169.000000  0.000000  0.000000
4    52.0  128.000000    0.0  180.000000  3.000000  0.669683
..    ...         ...    ...         ...       ...       ...
639  64.0  132.466116  306.0  137.842105  0.876705  0.669683
640  43.0  132.000000  247.0  143.000000  0.100000  0.669683
641  51.0  130.000000    0.0  170.000000 -0.700000  0.669683
642  47.0  135.000000  248.0  170.000000  0.000000  0.669683
643  61.0  130.000000    0.0  115.000000  0.000000  0.669683

[644 rows x 6 columns]

In [72]:
dfx_treino_2.isnull().mean()

age         0.0
trestbps    0.0
chol        0.0
thalch      0.0
oldpeak     0.0
ca          0.0
dtype: float64

In [73]:
dfx_treino_2.describe()

              age    trestbps        chol      thalch     oldpeak          ca
count  644.000000  644.000000  644.000000  644.000000  644.000000  644.000000
mean    53.330745  132.466116  197.456452  137.842105    0.876705    0.669683
std      9.383861   17.791804  109.168851   25.490182    1.071005    0.553354
min     28.000000   92.000000    0.000000   63.000000   -2.600000    0.000000
25%     47.000000  120.000000  175.000000  120.000000    0.000000    0.669683
50%     54.000000  130.000000  221.000000  137.921053    0.700000    0.669683
75%     60.000000  140.000000  267.000000  156.250000    1.500000    0.669683
max     77.000000  200.000000  564.000000  202.000000    6.200000    3.000000

### Inputando valores com o Feature Engine

In [74]:
dfx_treino_3, dfx_teste_3, dfy_treino_3, dfx_test_3 = train_test_split(df001.drop(['id', 'num'], axis=1), df001['num'], test_size=0.3, random_state=0)

# Dividi o DF novamente, mas aqui com todas as colunas (numÃ©ricas e classificatÃ³rias)

In [75]:
imputer_3 = MeanMedianImputer(imputation_method='mean', variables=cols_name)

In [76]:
imputer_3.fit(dfx_treino_3)

MeanMedianImputer(imputation_method='mean',
                  variables=['age', 'trestbps', 'chol', 'thalch', 'oldpeak',
                             'ca'])

In [77]:
imputer_3.imputer_dict_

# diferente do SKL, o Feature Engine, trata com dicionario e Dataframe ao invÃ©s de np.arrays

{'age': 53.33074534161491,
 'trestbps': 132.46611570247933,
 'chol': 197.45645161290324,
 'thalch': 137.8421052631579,
 'oldpeak': 0.8767054908485856,
 'ca': 0.669683257918552}

In [78]:
dfx_treino_3 = imputer_3.transform(dfx_treino_3)

In [79]:
dfx_treino_3

# Ã© o que eu mais gosto, confesso.

,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal
76,60,Male,Cleveland,asymptomatic,125.000000,258.0,False,lv hypertrophy,141.000000,True,2.800000,flat,1.000000,reversable defect
48,65,Female,Cleveland,non-anginal,140.000000,417.0,True,lv hypertrophy,157.000000,False,0.800000,upsloping,1.000000,normal
304,29,Male,Hungary,atypical angina,120.000000,243.0,False,normal,160.000000,False,0.000000,NaN,0.669683,NaN
263,44,Male,Cleveland,non-anginal,120.000000,226.0,False,normal,169.000000,False,0.000000,upsloping,0.000000,normal
744,52,Male,VA Long Beach,non-anginal,128.000000,0.0,False,st-t abnormality,180.000000,False,3.000000,upsloping,0.669683,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,64,Male,VA Long Beach,asymptomatic,132.466116,306.0,True,st-t abnormality,137.842105,NaN,0.876705,NaN,0.669683,NaN
192,43,Male,Cleveland,asymptomatic,132.000000,247.0,True,lv hypertrophy,143.000000,True,0.100000,flat,0.669683,reversable defect
629,51,Male,Switzerland,asymptomatic,130.000000,0.0,NaN,normal,170.000000,False,-0.700000,upsloping,0.669683,NaN
559,47,Female,Hungary,non-anginal,135.000000,248.0,True,normal,170.000000,False,0.000000,NaN,0.669683,NaN
684,61,Male,Switzerland,asymptomatic,130.000000,0.0,False,lv hypertrophy,115.000000,False,0.000000,flat,0.669683,reversable defect

## Inputando dados faltantes de variÃ¡veis categoricas

In [2]:
df002 = pd.read_csv('datasets/heart.csv')

In [3]:
dfcat_treino_x, dfcat_teste_x, dfcat_teste_x, dfcat_teste_y = train_test_split(df002.drop(['id', 'num'], axis=1), df002['num'], test_size=0.3, random_state=0)

# Split padrÃ£o do df

In [4]:
dfcat_treino_x.head()

# Base de treino

,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal
76,60,Male,Cleveland,asymptomatic,125.0,258.0,False,lv hypertrophy,141.0,True,2.8,flat,1.0,reversable defect
48,65,Female,Cleveland,non-anginal,140.0,417.0,True,lv hypertrophy,157.0,False,0.8,upsloping,1.0,normal
304,29,Male,Hungary,atypical angina,120.0,243.0,False,normal,160.0,False,0.0,NaN,NaN,NaN
263,44,Male,Cleveland,non-anginal,120.0,226.0,False,normal,169.0,False,0.0,upsloping,0.0,normal
744,52,Male,VA Long Beach,non-anginal,128.0,0.0,False,st-t abnormality,180.0,False,3.0,upsloping,NaN,NaN

In [5]:
dfcat_treino_x.isnull().mean()

age         0.000000
sex         0.000000
dataset     0.000000
cp          0.000000
trestbps    0.060559
chol        0.037267
fbs         0.099379
restecg     0.003106
thalch      0.055901
exang       0.055901
oldpeak     0.066770
slope       0.326087
ca          0.656832
thal        0.518634
dtype: float64

In [6]:
dfcat_treino_x.dtypes

age           int64
sex          object
dataset      object
cp           object
trestbps    float64
chol        float64
fbs          object
restecg      object
thalch      float64
exang        object
oldpeak     float64
slope        object
ca          float64
thal         object
dtype: object

In [8]:
cols_name_categorical = ['sex', 'dataset', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'thal']

imputer = CategoricalImputer(imputation_method='frequent', variables=cols_name_categorical)

# Parametrizando o Imputer

In [10]:
imputer.fit(dfcat_treino_x)

CategoricalImputer(imputation_method='frequent',
                   variables=['sex', 'dataset', 'cp', 'fbs', 'restecg', 'exang',
                              'slope', 'thal'])

In [11]:
imputer.imputer_dict_

{'sex': 'Male',
 'dataset': 'Cleveland',
 'cp': 'asymptomatic',
 'fbs': False,
 'restecg': 'normal',
 'exang': False,
 'slope': 'flat',
 'thal': 'reversable defect'}

In [14]:
dfcat_treino_x = imputer.transform(dfcat_treino_x)

In [15]:
dfcat_treino_x.isnull().mean()

age         0.000000
sex         0.000000
dataset     0.000000
cp          0.000000
trestbps    0.060559
chol        0.037267
fbs         0.000000
restecg     0.000000
thalch      0.055901
exang       0.000000
oldpeak     0.066770
slope       0.000000
ca          0.656832
thal        0.000000
dtype: float64