## Pandas

Relembrando conceitos

In [1]:
import pandas as pd
import numpy as np

## Series

In [2]:
# Dados base


lista1 = [10, 20, 30, 50, 100]
nparray = np.array([*lista1])
dicionario = {'a': 10, 'b':30, 'c':59}

### Series sem index

In [3]:
serie_lista1 = pd.Series(lista1)
serie_lista1

0     10
1     20
2     30
3     50
4    100
dtype: int64

In [4]:
serie_nparray = pd.Series(nparray)
serie_nparray

0     10
1     20
2     30
3     50
4    100
dtype: int64

In [5]:
serie_dict = pd.Series(dicionario)
# Series com dict ja utilizando as chaves como indice.

serie_dict

a    10
b    30
c    59
dtype: int64

### Series com index

In [7]:
index_lista1 = ['cod1', 'cod2', 'cod3', 'cod4', 'cod5']

serie_with_index = pd.Series(data=lista1, index=index_lista1)
serie_with_index

cod1     10
cod2     20
cod3     30
cod4     50
cod5    100
dtype: int64

In [11]:
serie_with_index

cod1     10
cod2     20
cod3     30
cod4     50
cod5    100
dtype: int64

In [10]:
index_lista2 = ['cod6', 'cod2', 'cod3', 'cod4', 'cod5']

serie_with_index2 = pd.Series(data=lista1, index=index_lista2)
serie_with_index2

cod6     10
cod2     20
cod3     30
cod4     50
cod5    100
dtype: int64

In [12]:
serie_sum = serie_with_index + serie_with_index2
serie_sum

cod1      NaN
cod2     40.0
cod3     60.0
cod4    100.0
cod5    200.0
cod6      NaN
dtype: float64

Soma entre Series é possível, levando como chave entre as Series, o index. Para index que não aparecem em ambos o resultado é NaN.  No exemplo: INT + None = NaN.

## Dataframes
### Criação de df

In [13]:
np.random.seed(101)

In [14]:
df_01 = pd.DataFrame(np.random.randn(5, 4), index='A B C D E'.split(), columns='Alfa Beta Gama Delta'.split())

In [15]:
df_01

       Alfa      Beta      Gama     Delta
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

### Slicers

#### Slicer de Colunas
Selecionar intervalo de colunas do DF

In [16]:
df_01['Alfa']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: Alfa, dtype: float64

In [17]:
df_01[['Alfa', 'Gama']]

       Alfa      Gama
A  2.706850  0.907969
B  0.651118 -0.848077
C -2.018168  0.528813
D  0.188695 -0.933237
E  0.190794  2.605967

#### Slicer de Linhas

In [18]:
df_01.loc['B':'D'] # Slicer de B à D

       Alfa      Beta      Gama     Delta
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

#### Slicer matricial

In [19]:
df_01.loc['B':'D'][['Alfa', 'Delta']]

       Alfa     Delta
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057

#### Criação de colunas no DF

Modo 1: Mais comum, ja realiza a adição inplace, mas coloca a coluna ao final do DF
```python
seu_dataframe['nome_da_nova_coluna'] = valor_ou_formula_ou_função()
# existem particularidades paras funções
```

In [20]:
df_02 = df_01.copy()
df_02['Nova_coluna'] = df_02['Alfa'] * 2
df_02['Nova_coluna_2'] = df_02['Alfa'] + df_02['Beta']
df_02['Nova_coluna_3'] = df_02['Alfa'].apply(lambda x: round(x, 2))
df_02

,Alfa,Beta,Gama,Delta,Nova_coluna,Nova_coluna_2,Nova_coluna_3
A,2.706850,0.628133,0.907969,0.503826,5.413700,3.334983,2.71
B,0.651118,-0.319318,-0.848077,0.605965,1.302236,0.331800,0.65
C,-2.018168,0.740122,0.528813,-0.589001,-4.036336,-1.278046,-2.02
D,0.188695,-0.758872,-0.933237,0.955057,0.377391,-0.570177,0.19
E,0.190794,1.978757,2.605967,0.683509,0.381589,2.169552,0.19

Modo 2: Mais programático e flexível, porém exige mais
```python
posicao_da_coluna = 2
nome_da_coluna = "Nova_Coluna_do_DF"
dados_da_coluna = [1, 2, 3, 4, 5, 6]

df.insert(posicao_da_coluna, nome_da_coluna, dados_da_coluna)
```

In [21]:
df_03 = df_01.copy()
df_03.insert(2, 'Nova_coluna', df_03['Alfa'] * 2)
df_03.insert(2, 'Nova_coluna_2', df_03['Alfa'] + df_03['Beta'])
df_03.insert(2, 'Nova_coluna_3', df_03['Alfa'].apply(lambda x: round(x, 2)))
df_03

,Alfa,Beta,Nova_coluna_3,Nova_coluna_2,Nova_coluna,Gama,Delta
A,2.706850,0.628133,2.71,3.334983,5.413700,0.907969,0.503826
B,0.651118,-0.319318,0.65,0.331800,1.302236,-0.848077,0.605965
C,-2.018168,0.740122,-2.02,-1.278046,-4.036336,0.528813,-0.589001
D,0.188695,-0.758872,0.19,-0.570177,0.377391,-0.933237,0.955057
E,0.190794,1.978757,0.19,2.169552,0.381589,2.605967,0.683509

### Deletar colunas e linhas

#### Deletar colunas

ambos utilizamos o método "drop", porém indicamos o parâmetro AXIS, com o valor de 0 para linhas e 1 para colunas.

Devemos indicar o valor do indice(de linhas ou de colunas) a ser deletado

o drop por padrão não é realizado no DF, precisamos atribuir a uma nova variável, ou substituir o valor da própria varável do DF

In [22]:
df_04 = df_03.copy()
df_04.drop(axis=1, labels='Nova_coluna_2', inplace=True)
df_04

       Alfa      Beta  Nova_coluna_3  Nova_coluna      Gama     Delta
A  2.706850  0.628133           2.71     5.413700  0.907969  0.503826
B  0.651118 -0.319318           0.65     1.302236 -0.848077  0.605965
C -2.018168  0.740122          -2.02    -4.036336  0.528813 -0.589001
D  0.188695 -0.758872           0.19     0.377391 -0.933237  0.955057
E  0.190794  1.978757           0.19     0.381589  2.605967  0.683509

#### Deletar Linhas

Utilizamos o mesmo método drop, porém sem o AXIS ou com AXIS com o valor 0

In [23]:
df_04.drop(axis=0, labels='B', inplace=True)
df_05 = df_04.drop('D')
df_05

       Alfa      Beta  Nova_coluna_3  Nova_coluna      Gama     Delta
A  2.706850  0.628133           2.71     5.413700  0.907969  0.503826
C -2.018168  0.740122          -2.02    -4.036336  0.528813 -0.589001
E  0.190794  1.978757           0.19     0.381589  2.605967  0.683509

#### Localização de elementos

Modo 1: método loc['INDICE_DO_ELEMENTO']

In [34]:
df_03.loc['A']

Alfa             2.706850
Beta             0.628133
Nova_coluna_3    2.710000
Nova_coluna_2    3.334983
Nova_coluna      5.413700
Gama             0.907969
Delta            0.503826
Name: A, dtype: float64

In [36]:
df_03.loc[['A','B'], ['Alfa', 'Beta']]
# Um slicer multidimencional

       Alfa      Beta
A  2.706850  0.628133
B  0.651118 -0.319318

In [41]:
inicio_do_indice_linhas = 0
inicio_do_indice_colunas = 0
numero_de_elementos = 2
df_03.iloc[inicio_do_indice_linhas: numero_de_elementos, inicio_do_indice_colunas: numero_de_elementos]
# Os valores de ref inicia no indice informado, e segue o numero de elementos
# iloc trabalha apenas com numeros e indices absolutos?

       Alfa      Beta
A  2.706850  0.628133
B  0.651118 -0.319318