# Pandas pt2

Continuando a relembrar a utilização do Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(101)

In [3]:
df_01 = pd.DataFrame(randn(5, 4), index='A B C D E'.split(), columns='Alfa Beta Gama Beta_delta'.split())

In [4]:
df_01

       Alfa      Beta      Gama  Beta_delta
A  2.706850  0.628133  0.907969    0.503826
B  0.651118 -0.319318 -0.848077    0.605965
C -2.018168  0.740122  0.528813   -0.589001
D  0.188695 -0.758872 -0.933237    0.955057
E  0.190794  1.978757  2.605967    0.683509

In [5]:
df_01_boleano_maiores_que_zero = df_01 > 0
df_01_boleano_maiores_que_zero

    Alfa   Beta   Gama  Beta_delta
A   True   True   True        True
B   True  False  False        True
C  False   True   True       False
D   True  False  False        True
E   True   True   True        True

In [6]:
df_01[df_01_boleano_maiores_que_zero]

       Alfa      Beta      Gama  Beta_delta
A  2.706850  0.628133  0.907969    0.503826
B  0.651118       NaN       NaN    0.605965
C       NaN  0.740122  0.528813         NaN
D  0.188695       NaN       NaN    0.955057
E  0.190794  1.978757  2.605967    0.683509

Este comportamento segue para Series, e pode ser aplicado diretamente no DF. Esta prática é apenas de filtro não altera o DF por si só.

In [7]:
serie_filtro_alfa = df_01['Alfa'] > 0
serie_filtro_alfa

A     True
B     True
C    False
D     True
E     True
Name: Alfa, dtype: bool

In [8]:
df_01[serie_filtro_alfa]

       Alfa      Beta      Gama  Beta_delta
A  2.706850  0.628133  0.907969    0.503826
B  0.651118 -0.319318 -0.848077    0.605965
D  0.188695 -0.758872 -0.933237    0.955057
E  0.190794  1.978757  2.605967    0.683509

In [9]:
df_02 = df_01[df_01['Alfa']>0]
df_02

       Alfa      Beta      Gama  Beta_delta
A  2.706850  0.628133  0.907969    0.503826
B  0.651118 -0.319318 -0.848077    0.605965
D  0.188695 -0.758872 -0.933237    0.955057
E  0.190794  1.978757  2.605967    0.683509

Pode ser aninhado com Slices

In [10]:
df_01[df_01['Alfa']>0][['Gama', 'Beta_delta']]

       Gama  Beta_delta
A  0.907969    0.503826
B -0.848077    0.605965
D -0.933237    0.955057
E  2.605967    0.683509

In [11]:
# o mesmo que a celula acima.
df_02[['Gama', 'Beta_delta']]

       Gama  Beta_delta
A  0.907969    0.503826
B -0.848077    0.605965
D -0.933237    0.955057
E  2.605967    0.683509

Para estes slices os operadores lógicos a serem utilizados devem ser os sinais para evitar erros.

In [12]:
df_01[(df_01['Beta_delta'] > 0) & ((df_01['Alfa'] > 0) | (df_01['Beta'] > 0))]
# Slice onde Beta_delta é maior que 0 e Alfa ou Beta é maior que 0
# AND = &
# OR = |

       Alfa      Beta      Gama  Beta_delta
A  2.706850  0.628133  0.907969    0.503826
B  0.651118 -0.319318 -0.848077    0.605965
D  0.188695 -0.758872 -0.933237    0.955057
E  0.190794  1.978757  2.605967    0.683509

#### Reset do index
modo simples (depende do inplace)

In [13]:
df_03 = df_01[(df_01['Beta_delta'] > 0) & ((df_01['Alfa'] > 0) | (df_01['Beta'] > 0))]
df_03

       Alfa      Beta      Gama  Beta_delta
A  2.706850  0.628133  0.907969    0.503826
B  0.651118 -0.319318 -0.848077    0.605965
D  0.188695 -0.758872 -0.933237    0.955057
E  0.190794  1.978757  2.605967    0.683509

In [14]:
df_03.reset_index(inplace=True)
df_03
# O antigo index vira uma coluna

  index      Alfa      Beta      Gama  Beta_delta
0     A  2.706850  0.628133  0.907969    0.503826
1     B  0.651118 -0.319318 -0.848077    0.605965
2     D  0.188695 -0.758872 -0.933237    0.955057
3     E  0.190794  1.978757  2.605967    0.683509

Informando a coluna a ser usada como indice
Usamos o método set_index()
Também é sensível ao inplace=True

In [15]:
df_04 = df_01[(df_01['Beta_delta'] > 0) & ((df_01['Alfa'] > 0) | (df_01['Beta'] > 0))].copy()
df_04['Outros_valores'] =  ['Cod1','Cod2','Cod3', 'Cod4']
df_04

       Alfa      Beta      Gama  Beta_delta Outros_valores
A  2.706850  0.628133  0.907969    0.503826           Cod1
B  0.651118 -0.319318 -0.848077    0.605965           Cod2
D  0.188695 -0.758872 -0.933237    0.955057           Cod3
E  0.190794  1.978757  2.605967    0.683509           Cod4

In [16]:
nome_da_coluna = 'Outros_valores'
df_04.set_index(nome_da_coluna, inplace=True)
df_04

                    Alfa      Beta      Gama  Beta_delta
Outros_valores
Cod1            2.706850  0.628133  0.907969    0.503826
Cod2            0.651118 -0.319318 -0.848077    0.605965
Cod3            0.188695 -0.758872 -0.933237    0.955057
Cod4            0.190794  1.978757  2.605967    0.683509

In [17]:
df_04.loc['Cod2']

Alfa          0.651118
Beta         -0.319318
Gama         -0.848077
Beta_delta    0.605965
Name: Cod2, dtype: float64

### Index Multiniveis

In [18]:
from datetime import datetime
import itertools

lista_operadores = ['Maria', 'José', 'Pedro']
lista_datas = [
    datetime(2022, 11, 1),
    datetime(2022, 11, 2),
    datetime(2022, 11, 3),
    datetime(2022, 11, 4),
    datetime(2022, 11, 5)
]

index_multinivel_data = list(itertools.product(lista_datas, lista_operadores))
index_multinivel_operadores = list(itertools.product(lista_operadores, lista_datas))

# Temos uma lista de tuplas para os valores do DF

In [19]:
for i in index_multinivel_operadores:
    print(i)

('Maria', datetime.datetime(2022, 11, 1, 0, 0))
('Maria', datetime.datetime(2022, 11, 2, 0, 0))
('Maria', datetime.datetime(2022, 11, 3, 0, 0))
('Maria', datetime.datetime(2022, 11, 4, 0, 0))
('Maria', datetime.datetime(2022, 11, 5, 0, 0))
('José', datetime.datetime(2022, 11, 1, 0, 0))
('José', datetime.datetime(2022, 11, 2, 0, 0))
('José', datetime.datetime(2022, 11, 3, 0, 0))
('José', datetime.datetime(2022, 11, 4, 0, 0))
('José', datetime.datetime(2022, 11, 5, 0, 0))
('Pedro', datetime.datetime(2022, 11, 1, 0, 0))
('Pedro', datetime.datetime(2022, 11, 2, 0, 0))
('Pedro', datetime.datetime(2022, 11, 3, 0, 0))
('Pedro', datetime.datetime(2022, 11, 4, 0, 0))
('Pedro', datetime.datetime(2022, 11, 5, 0, 0))

In [20]:
index_transformado_data = pd.MultiIndex.from_tuples(index_multinivel_data)
index_transformado_operadores = pd.MultiIndex.from_tuples(index_multinivel_operadores)

# Temos o indice pronto para o DF
dados = randn(15, 3)
df_multinivel_01_data = pd.DataFrame(dados, index=index_transformado_data, columns='Alfa Beta Delta'.split())
df_multinivel_01_operadores = pd.DataFrame(dados, index=index_transformado_operadores, columns='Alfa Beta Delta'.split())

In [21]:
df_multinivel_01_data

                      Alfa      Beta     Delta
2022-11-01 Maria  0.302665  1.693723 -1.706086
           José  -1.159119 -0.134841  0.390528
           Pedro  0.166905  0.184502  0.807706
2022-11-02 Maria  0.072960  0.638787  0.329646
           José  -0.497104 -0.754070 -0.943406
           Pedro  0.484752 -0.116773  1.901755
2022-11-03 Maria  0.238127  1.996652 -0.993263
           José   0.196800 -1.136645  0.000366
           Pedro  1.025984 -0.156598 -0.031579
2022-11-04 Maria  0.649826  2.154846 -0.610259
           José  -0.755325 -0.346419  0.147027
           Pedro -0.479448  0.558769  1.024810
2022-11-05 Maria -0.925874  1.862864 -1.133817
           José   0.610478  0.386030  2.084019
           Pedro -0.376519  0.230336  0.681209

In [22]:
df_multinivel_01_operadores

                      Alfa      Beta     Delta
Maria 2022-11-01  0.302665  1.693723 -1.706086
      2022-11-02 -1.159119 -0.134841  0.390528
      2022-11-03  0.166905  0.184502  0.807706
      2022-11-04  0.072960  0.638787  0.329646
      2022-11-05 -0.497104 -0.754070 -0.943406
José  2022-11-01  0.484752 -0.116773  1.901755
      2022-11-02  0.238127  1.996652 -0.993263
      2022-11-03  0.196800 -1.136645  0.000366
      2022-11-04  1.025984 -0.156598 -0.031579
      2022-11-05  0.649826  2.154846 -0.610259
Pedro 2022-11-01 -0.755325 -0.346419  0.147027
      2022-11-02 -0.479448  0.558769  1.024810
      2022-11-03 -0.925874  1.862864 -1.133817
      2022-11-04  0.610478  0.386030  2.084019
      2022-11-05 -0.376519  0.230336  0.681209

In [23]:
df_multinivel_01_operadores.loc['José']

#df apenas com os dados do Operador José

                Alfa      Beta     Delta
2022-11-01  0.484752 -0.116773  1.901755
2022-11-02  0.238127  1.996652 -0.993263
2022-11-03  0.196800 -1.136645  0.000366
2022-11-04  1.025984 -0.156598 -0.031579
2022-11-05  0.649826  2.154846 -0.610259

In [24]:
df_multinivel_01_operadores.loc['José'].loc['2022-11-02']

# sub slice do DF

Alfa     0.238127
Beta     1.996652
Delta   -0.993263
Name: 2022-11-02 00:00:00, dtype: float64

Index pode ser nomeados.

In [25]:
df_multinivel_01_operadores.index.names

FrozenList([None, None])

In [26]:
# para configurar basta informar uma lista
df_multinivel_01_operadores.index.names = ['Operadores', 'Datas']
df_multinivel_01_operadores

                           Alfa      Beta     Delta
Operadores Datas
Maria      2022-11-01  0.302665  1.693723 -1.706086
           2022-11-02 -1.159119 -0.134841  0.390528
           2022-11-03  0.166905  0.184502  0.807706
           2022-11-04  0.072960  0.638787  0.329646
           2022-11-05 -0.497104 -0.754070 -0.943406
José       2022-11-01  0.484752 -0.116773  1.901755
           2022-11-02  0.238127  1.996652 -0.993263
           2022-11-03  0.196800 -1.136645  0.000366
           2022-11-04  1.025984 -0.156598 -0.031579
           2022-11-05  0.649826  2.154846 -0.610259
Pedro      2022-11-01 -0.755325 -0.346419  0.147027
           2022-11-02 -0.479448  0.558769  1.024810
           2022-11-03 -0.925874  1.862864 -1.133817
           2022-11-04  0.610478  0.386030  2.084019
           2022-11-05 -0.376519  0.230336  0.681209

Ainda sobre slices em index multiniveis

podemos usar o método xs()

In [27]:
df_multinivel_01_operadores.xs('Maria')

                Alfa      Beta     Delta
Datas
2022-11-01  0.302665  1.693723 -1.706086
2022-11-02 -1.159119 -0.134841  0.390528
2022-11-03  0.166905  0.184502  0.807706
2022-11-04  0.072960  0.638787  0.329646
2022-11-05 -0.497104 -0.754070 -0.943406

In [28]:
df_multinivel_01_operadores.xs('2022-11-04', level='Datas')

                Alfa      Beta     Delta
Operadores
Maria       0.072960  0.638787  0.329646
José        1.025984 -0.156598 -0.031579
Pedro       0.610478  0.386030  2.084019

### Tratamento de valores NaN

In [29]:
df_05 =  df_01[df_01_boleano_maiores_que_zero].copy().iloc[1:]
df_05

       Alfa      Beta      Gama  Beta_delta
B  0.651118       NaN       NaN    0.605965
C       NaN  0.740122  0.528813         NaN
D  0.188695       NaN       NaN    0.955057
E  0.190794  1.978757  2.605967    0.683509

Eliminando NaN

dropna()
De forma direta, dropna ELIMINA as linhas com NaN
sensível ao inplace

In [30]:
df_05.dropna()

       Alfa      Beta      Gama  Beta_delta
E  0.190794  1.978757  2.605967    0.683509

dropna() para eliminar colunas, deve apontar para axis=1
TODAS as colunas que não possuírem 100% dos dados válidos.

In [31]:
df_05.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [B, C, D, E]

dropna() pode ser usado com o parâmetro thresh=VALOR, onde VALOR indica a quantidade minima a ser considerada para eliminar a coluna/linha
Linhas ou colunas com as quantidades de dados ausentes sendo menor do que o especificado no parametro thresh permanecerão no DF resultante.

In [32]:
df_05.dropna(thresh=2)

       Alfa      Beta      Gama  Beta_delta
B  0.651118       NaN       NaN    0.605965
C       NaN  0.740122  0.528813         NaN
D  0.188695       NaN       NaN    0.955057
E  0.190794  1.978757  2.605967    0.683509

fillna()

fillna SUBSTITUI os valores NaN pelo especificado.

In [33]:
df_05.fillna(value="Sem dados no DB")

              Alfa             Beta             Gama       Beta_delta
B         0.651118  Sem dados no DB  Sem dados no DB         0.605965
C  Sem dados no DB         0.740122         0.528813  Sem dados no DB
D         0.188695  Sem dados no DB  Sem dados no DB         0.955057
E         0.190794         1.978757         2.605967         0.683509

In [34]:
df_05.fillna(value=0)

       Alfa      Beta      Gama  Beta_delta
B  0.651118  0.000000  0.000000    0.605965
C  0.000000  0.740122  0.528813    0.000000
D  0.188695  0.000000  0.000000    0.955057
E  0.190794  1.978757  2.605967    0.683509

no método fillna() podemos utilizar uma fórmula no parametro VALUE

In [35]:
df_05.fillna(value=df_05['Beta'].min())
# Substituir o valor do NaN com o valor MINIMO obtido através do método Series.min()

       Alfa      Beta      Gama  Beta_delta
B  0.651118  0.740122  0.740122    0.605965
C  0.740122  0.740122  0.528813    0.740122
D  0.188695  0.740122  0.740122    0.955057
E  0.190794  1.978757  2.605967    0.683509

In [36]:
for i in df_05.index:
    df_05.loc[i].fillna(value=df_05.loc[i]['Beta_delta']*2, inplace=True)
df_05
# Fazendo um replace de ietm baseado no valor da linha.

       Alfa      Beta      Gama  Beta_delta
B  0.651118  1.211931  1.211931    0.605965
C       NaN  0.740122  0.528813         NaN
D  0.188695  1.910113  1.910113    0.955057
E  0.190794  1.978757  2.605967    0.683509

In [37]:
df_06 =  df_01[df_01_boleano_maiores_que_zero].copy().iloc[1:]
df_06

       Alfa      Beta      Gama  Beta_delta
B  0.651118       NaN       NaN    0.605965
C       NaN  0.740122  0.528813         NaN
D  0.188695       NaN       NaN    0.955057
E  0.190794  1.978757  2.605967    0.683509

fillna ainda tem o parâmetro METHOD
pode ser usado FFILL para preenccher com o primeiro  valor antecessor válido
e BFILL para preencher com o proximo valor válido.

In [38]:
df_06.fillna(method='ffill')

       Alfa      Beta      Gama  Beta_delta
B  0.651118       NaN       NaN    0.605965
C  0.651118  0.740122  0.528813    0.605965
D  0.188695  0.740122  0.528813    0.955057
E  0.190794  1.978757  2.605967    0.683509

In [39]:
df_06.fillna(method='bfill')

       Alfa      Beta      Gama  Beta_delta
B  0.651118  0.740122  0.528813    0.605965
C  0.188695  0.740122  0.528813    0.955057
D  0.188695  1.978757  2.605967    0.955057
E  0.190794  1.978757  2.605967    0.683509