# Pandas
#### Pre processamento de dados

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from feature_engine.imputation import  MeanMedianImputer, CategoricalImputer, ArbitraryNumberImputer, EndTailImputer

In [2]:
df001 = pd.read_csv('datasets/amsat-active-frequencies.csv')

# import

In [3]:
df001.head()

# entendendo o material

,name,norad_id,uplink,downlink,beacon,mode,callsign,satnogs_id
0,Aalto-1,42775.0,NaN,437.220/2402.000,437.220,9600bps FSK CW,OH2A1S,MTTJ-9379-5566-8860-4453
1,AAUSAT-2,32788.0,NaN,437.426,NaN,1k2*MSK 9k6 FSK,OZ2CUB,IMKY-8694-8138-3077-8494
2,AAUSAT-4,41460.0,NaN,437.425,437.425,2k4*/9k6/19k2 GFSK CW,OZ4CUB,AISX-1350-2546-0237-2310
3,AISTECHSAT-2,43768.0,NaN,436.730,NaN,4k8/9k6* FSK,NaN,MSIH-7029-5546-1995-2723
4,AISTECHSAT-3,44103.0,NaN,436.730,NaN,4k8/9k6* FSK,NaN,RERZ-6166-7809-6282-7939

In [4]:
df001.isnull().mean()

# % de faltantes nas colunas

name          0.000000
norad_id      0.005917
uplink        0.686391
downlink      0.035503
beacon        0.639053
mode          0.005917
callsign      0.334320
satnogs_id    0.136095
dtype: float64

In [14]:
df001.shape

# numero de linhas e colunas

(338, 8)

In [5]:
df001.isnull().sum()

# quantidade de linhas com erros

name            0
norad_id        2
uplink        232
downlink       12
beacon        216
mode            2
callsign      113
satnogs_id     46
dtype: int64

In [6]:
df001.dtypes

# tipos de dados nas colunas

name           object
norad_id      float64
uplink         object
downlink       object
beacon         object
mode           object
callsign       object
satnogs_id     object
dtype: object

In [7]:
df001[df001['uplink'].apply(lambda x: True if isinstance(x, str) else False)]

,name,norad_id,uplink,downlink,beacon,mode,callsign,satnogs_id
5,AlfaCrux,52160.0,437.225,437.100*/437.225,NaN,4800bps FSK Digipeater,NaN,LVHV-7932-2909-1988-0093
8,AO-7 (Phase-2B),7530.0,145.850-145.950,29.400- 29.500,29.502,A,NaN,HHSS-6325-1344-4603-7774
9,AO-7 (Phase-2B),7530.0,432.125-432.175,145.975-145.925,145.970,B C,NaN,HHSS-6325-1344-4603-7774
10,AO-27 (EYESAT-A),22825.0,145.850,436.795,NaN,1200bps AFSK FM,NaN,XTDR-0995-4168-5549-5936
11,AO-73 (FUNcube-1),39444.0,435.130-435.150,145.970-145.950,145.935,1200*bps BPSK SSB,NaN,OTOF-8025-8953-4756-4779
...,...,...,...,...,...,...,...,...
322,XW-2F (CAS-3F),40910.0,435.330-435.350,146.000-145.980,145.955/145.975,9k6 GMSK/CW*,BJ1SG,YWAV-5902-3690-5734-3273
323,XW-3 (CAS-9 HO-113),50466.0,145.870,435.180,NaN,VHF/UHF SSB*,NaN,WMPC-3806-8308-1122-5138
335,ZACube-1,39417.0,145.860,437.355,14.099,1k2AFSK/9k6* GMSK CW,123456,GRVM-9505-5712-0753-7014
336,Zhou Enlai (Huai'An-1 HA-1),43156.0,145.930,436.950,437.350/437.644*,FM 9600bps BPSK,BI4ST,YFPC-1248-4077-8296-8715
337,Z-Sat,49399.0,435.480,145.875,145.875,9k6GMSK FM CW*,JJ2YPO,KMUR-8898-9913-2178-8848

In [8]:
df001['uplink'] = df001['uplink'].apply(lambda x: float(str(x).split('/')[0].split('-')[0]))
df001[df001['uplink'].apply(lambda x: True if isinstance(x, str) else False)]

Empty DataFrame
Columns: [name, norad_id, uplink, downlink, beacon, mode, callsign, satnogs_id]
Index: []

In [9]:
df001[df001['uplink'].notnull()].head()

,name,norad_id,uplink,downlink,beacon,mode,callsign,satnogs_id
5,AlfaCrux,52160.0,437.225,437.100*/437.225,NaN,4800bps FSK Digipeater,NaN,LVHV-7932-2909-1988-0093
8,AO-7 (Phase-2B),7530.0,145.850,29.400- 29.500,29.502,A,NaN,HHSS-6325-1344-4603-7774
9,AO-7 (Phase-2B),7530.0,432.125,145.975-145.925,145.970,B C,NaN,HHSS-6325-1344-4603-7774
10,AO-27 (EYESAT-A),22825.0,145.850,436.795,NaN,1200bps AFSK FM,NaN,XTDR-0995-4168-5549-5936
11,AO-73 (FUNcube-1),39444.0,435.130,145.970-145.950,145.935,1200*bps BPSK SSB,NaN,OTOF-8025-8953-4756-4779

In [10]:
df001.head()

,name,norad_id,uplink,downlink,beacon,mode,callsign,satnogs_id
0,Aalto-1,42775.0,NaN,437.220/2402.000,437.220,9600bps FSK CW,OH2A1S,MTTJ-9379-5566-8860-4453
1,AAUSAT-2,32788.0,NaN,437.426,NaN,1k2*MSK 9k6 FSK,OZ2CUB,IMKY-8694-8138-3077-8494
2,AAUSAT-4,41460.0,NaN,437.425,437.425,2k4*/9k6/19k2 GFSK CW,OZ4CUB,AISX-1350-2546-0237-2310
3,AISTECHSAT-2,43768.0,NaN,436.730,NaN,4k8/9k6* FSK,NaN,MSIH-7029-5546-1995-2723
4,AISTECHSAT-3,44103.0,NaN,436.730,NaN,4k8/9k6* FSK,NaN,RERZ-6166-7809-6282-7939

In [17]:
df001.insert(8,'analise',df001['callsign'].apply(lambda x: str(x)[0:2]))

In [18]:
df001

,name,norad_id,uplink,downlink,beacon,mode,callsign,satnogs_id,analise
0,Aalto-1,42775.0,NaN,437.220/2402.000,437.220,9600bps FSK CW,OH2A1S,MTTJ-9379-5566-8860-4453,OH
1,AAUSAT-2,32788.0,NaN,437.426,NaN,1k2*MSK 9k6 FSK,OZ2CUB,IMKY-8694-8138-3077-8494,OZ
2,AAUSAT-4,41460.0,NaN,437.425,437.425,2k4*/9k6/19k2 GFSK CW,OZ4CUB,AISX-1350-2546-0237-2310,OZ
3,AISTECHSAT-2,43768.0,NaN,436.730,NaN,4k8/9k6* FSK,NaN,MSIH-7029-5546-1995-2723,na
4,AISTECHSAT-3,44103.0,NaN,436.730,NaN,4k8/9k6* FSK,NaN,RERZ-6166-7809-6282-7939,na
...,...,...,...,...,...,...,...,...,...
333,YuZGU No11 (SWSU-55 No7),53310.0,NaN,437.050/437.1125,NaN,1k145 AFSK SSTV AUDIO,RS5S,NaN,RS
334,YuZGU No12 (SWSU-55 No8),53311.0,NaN,437.050/437.000,NaN,1k145 AFSK SSTV AUDIO,RS6S,NaN,RS
335,ZACube-1,39417.0,145.86,437.355,14.099,1k2AFSK/9k6* GMSK CW,123456,GRVM-9505-5712-0753-7014,12
336,Zhou Enlai (Huai'An-1 HA-1),43156.0,145.93,436.950,437.350/437.644*,FM 9600bps BPSK,BI4ST,YFPC-1248-4077-8296-8715,BI
337,Z-Sat,49399.0,435.48,145.875,145.875,9k6GMSK FM CW*,JJ2YPO,KMUR-8898-9913-2178-8848,JJ