In [11]:
import pyarrow.parquet as pq
import pyarrow as pa
import numpy as np
import pandas as pd

In [7]:
arr = np.random.randint(60, size=(300, 7))

In [9]:
cols_nam = "dez1 dez2 dez3 dez4 dez5 dez6 dez7".split()

df = pd.DataFrame(arr, columns=cols_nam)
df.head()

   dez1  dez2  dez3  dez4  dez5  dez6  dez7
0     4    53    26    18    23    28    24
1    27    34    10    29     0    22    41
2    45    50     3    44    47    49    47
3     2    53    39    20    40    37    53
4    14    49    32     9    12    31     2

In [13]:
table = pa.Table.from_pandas(df)
pq.write_table(table, 'model_parq.parquet')

In [17]:
file = r"C:\Users\root\Downloads\LOAD00000001.parquet"
df = pd.read_parquet(file)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24194 entries, 0 to 24193
Data columns (total 95 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   id_usuario                              24194 non-null  object
 1   estagio                                 24194 non-null  object
 2   estagio_provedor                        14478 non-null  object
 3   tipo                                    5346 non-null   object
 4   status                                  24194 non-null  object
 5   tipo_conta                              24194 non-null  object
 6   provedor                                24194 non-null  object
 7   cpf                                     24132 non-null  object
 8   cnpj                                    669 non-null    object
 9   parceiro                                0 non-null      object
 10  ib                                      24194 non-null  int8
 11  email                                   24122 non-null  object
 12  email_alternativo                       0 non-null      object
 13  email_confirmado                        24194 non-null  int8
 14  celular                                 24060 non-null  object
 15  celular_alternativo                     0 non-null      object
 16  nickname                                24060 non-null  object
 17  nome                                    24132 non-null  object
 18  nome_social                             19101 non-null  object
 19  num_erros_pin                           24194 non-null  int32
 20  ultimo_erro_pin                         161 non-null    datetime64[ns]
 21  pessoa_exposta_politicamente            0 non-null      object
 22  ocupacao                                0 non-null      object
 23  rg                                      0 non-null      object
 24  telefone                                0 non-null      object
 25  sexo                                    0 non-null      object
 26  nascimento                              23860 non-null  object
 27  estado_civil                            23405 non-null  object
 28  nacionalidade                           0 non-null      object
 29  nome_pai                                1 non-null      object
 30  nome_mae                                19452 non-null  object
 31  logradouro                              22345 non-null  object
 32  numero                                  22345 non-null  object
 33  complemento                             22326 non-null  object
 34  bairro                                  22345 non-null  object
 35  cidade                                  22513 non-null  float64
 36  estado                                  22513 non-null  float64
 37  cep                                     22345 non-null  object
 38  investidor_qualificado                  24194 non-null  int8
 39  suspeita_fraude                         24194 non-null  int8
 40  rg_estado                               0 non-null      object
 41  rg_emissor                              0 non-null      object
 42  rg_data_emissao                         0 non-null      object
 43  observacoes_gerais                      4701 non-null   object
 44  ref_pessoal_nome_1                      0 non-null      object
 45  ref_pessoal_telefone_1                  0 non-null      object
 46  ref_pessoal_parentesco_1                0 non-null      object
 47  ref_pessoal_nome_2                      0 non-null      object
 48  ref_pessoal_telefone_2                  0 non-null      object
 49  ref_pessoal_parentesco_2                0 non-null      object
 50  salario_bruto                           0 non-null      object
 51  salario_liquido                         0 non-null      object
 52  faixa_renda_mensal                      0 non-null      object
 53  score_biro                              0 non-null      float64
 54  cod_ver_sms                             24012 non-null  object
 55  sms_validado                            22723 non-null  float64
 56  data_hora_sms                           23419 non-null  datetime64[ns]
 57  num_tentativas_sms                      24194 non-null  int32
 58  ultima_tentativa_sms                    24013 non-null  datetime64[ns]
 59  cod_ver_sms_ib                          7 non-null      object
 60  num_tentativas_sms_ib                   24194 non-null  int32
 61  data_hora_sms_ib                        21 non-null     datetime64[ns]
 62  ultima_tentativa_sms_ib                 18 non-null     datetime64[ns]
 63  data_liberacao_token_ib                 0 non-null      datetime64[ns]
 64  usuario_dispositivo_validacao_token_ib  0 non-null      object
 65  cod_ver_email                           245 non-null    object
 66  num_tentativas_email                    24194 non-null  int32
 67  ultima_tentativa_email                  3202 non-null   datetime64[ns]
 68  email_validado                          0 non-null      float64
 69  cod_ver_dispositivo                     149 non-null    object
 70  num_tentativas_dispositivo              24194 non-null  int32
 71  ultima_tentativa_dispositivo            149 non-null    datetime64[ns]
 72  tarifa_transferencia_lote               15488 non-null  object
 73  data_expiracao_token_senha              1906 non-null   datetime64[ns]
 74  data_expiracao_token_pin                170 non-null    datetime64[ns]
 75  data_hora_email                         0 non-null      datetime64[ns]
 76  data_cadastro                           24194 non-null  datetime64[ns]
 77  data_pendente                           21708 non-null  datetime64[ns]
 78  data_dados_responsavel                  38 non-null     datetime64[ns]
 79  data_endereco_responsavel               38 non-null     datetime64[ns]
 80  data_verificacao_celular                38 non-null     datetime64[ns]
 81  data_bloqueado                          0 non-null      datetime64[ns]
 82  data_bloqueado_expiracao_email          0 non-null      datetime64[ns]
 83  data_bloqueado_fraude                   0 non-null      datetime64[ns]
 84  data_inativo                            0 non-null      datetime64[ns]
 85  data_ativo                              13600 non-null  datetime64[ns]
 86  data_auth                               14774 non-null  datetime64[ns]
 87  data_exclusao                           0 non-null      datetime64[ns]
 88  data_atualizacao_cadastral              1668 non-null   datetime64[ns]
 89  data_score_biro                         0 non-null      datetime64[ns]
 90  termo_compromisso_id                    14806 non-null  object
 91  termo_provedor_id                       373 non-null    object
 92  data_termo_provedor                     373 non-null    datetime64[ns]
 93  controle_usuario_id                     1156 non-null   object
 94  data_cancelado                          0 non-null      datetime64[ns]
dtypes: datetime64[ns](27), float64(5), int32(5), int8(4), object(54)
memory usage: 16.4+ MB

In [22]:
valor = "pin token senha".split()

for i in df.columns:
    for v in valor:
        loc =  str(i).find(v)
        if loc >= 0:
            print('key:', v,'col_name:', i, '\n\n')

key: pin col_name: num_erros_pin


key: pin col_name: ultimo_erro_pin


key: token col_name: data_liberacao_token_ib


key: token col_name: usuario_dispositivo_validacao_token_ib


key: token col_name: data_expiracao_token_senha


key: senha col_name: data_expiracao_token_senha


key: pin col_name: data_expiracao_token_pin


key: token col_name: data_expiracao_token_pin